@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #171727;
    font-family: 'Space Mono', monospace;
    color: #C1C1D8;
}

.app { 
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 600px){
    .app {
        flex-direction: row;
    }
}